.article-detail-con{
	/* width:100%; */
	/* border-bottom: 1px solid #E5E5E5; */
	/* padding-bottom: 19px; */
	border: 1px solid #D9D9D9;
	padding-bottom: 10px;
	background-color: #fff;
}
.article-detail-con h3 a{
	color:#333333;
	font-size: 20px;
}
.article-detail-con h3 a:hover{
	color:#ed971e;
}
.article-detail-con h1{
	margin-bottom: 0;
	font-size: 20px;  
    color: #333;  
    height: 56px;  
    line-height: 56px;  
	white-space:nowrap; 
	text-overflow:ellipsis;
	overflow:hidden;
	text-align: center;
}
.article-detail-top{
	margin-bottom:8px;
}
.article-author{
	color:#666;
	font-size: 14px;
	padding: 4px 0 2px;
	/* margin-bottom: 5px; */
}
.article-change{
	color:#999;
	font-size: 14px;
}
.article-detail-con-wrap img{
	max-width: 100%;
	margin: 13px auto;
}
.article-detail-con-wrap p{
	color:#666666;
	font-size: 14px;
	line-height: 22px;
}
.article-detail-con-wrap{
	/*width:566px;*/
	padding:0 47px;
}
.article-detail-wrap{
	padding-bottom: 20px;
	padding-left: 20px;
	/* margin-bottom: 20px; */
	border-bottom: 1px solid #E5E5E5;
}
.article-detail-wrap a img{
	display: block;
	width:50px;
	border-radius: 50%;
	margin: 0 10px;
}
.key-wd span{
	color:#333;
    font-weight:bold;
	font-size: 14px;
}
.key-wd b{
	color: #666;
    display:inline-block;
    margin:0 7px;
	font-weight: normal;
}
.key-wd{
    margin-left:-26px;
}
.author-wrap, .hw-share-wrap, .login-notice, .extend-read-wrap {
	background-color: #fff;
}
