.hot-read-li {
	width: 188px;
	margin: 0 5px 6px;
}
.hot-read-li img {
	width: 188px;
	height: 106px;
	/* border: 1px solid #D2D2D2; */
	display: block;
}
.hot-read-li .read-wd {
	font-size: 14px;
	font-weight: bold;
	color: #333;
	margin-bottom: 4px;
	display: block;
	line-height: 18px;
	overflow: hidden;
    max-height:36px;
    height:36px;
}
.hot-read-intro {
	color: #999;
	font-size: 12px;
	line-height: 20px;
	overflow: hidden;
	display: block;
	min-height: 100px;
	height: 100px;
}
.hot-read-con{
	margin:0 -5px;
}
.hot-read-bttm{
	width:172px;
	height:50px;
	padding: 13px 8px;
}
.hot-read-bttm a:hover{
	color:#f3981e;
	text-decoration: none;
}
.v-read-num{
    background-image:url(/statics/v4/tw_mofang/img/start_v.png);
    background-size:20px 14px;
    background-repeat:no-repeat;
    background-position: left center;
    padding-left:25px;
    height:18px;
    line-height:18px;
    display:block;
    color:#999;
    font-size:14px;
    overflow:hidden;
}
