@function mfe-px2rem($px) {
    @return $px/40.5 + rem;
}
.page {
  background-color: #f5f5f5; }

.up {
  position: absolute;
  left: 36%;
  font-size: 1.18519rem;
  color: #fff; }

.in {
  position: absolute;
  left: 54%;
  font-size: 1.18519rem;
  color: #fff; }

.curr {
  display: block;
  border-bottom: 0.2963rem solid #fff;
  height: 2.51852rem; }

.enter-con {
  height: 7.16049rem; }

.enter-con h2 {
  color: #ff7800;
  text-align: center;
  font-size: 2.22222rem;
  padding-top: 1.03704rem; }

.enter-con p {
  color: #9e9e9e;
  text-align: center;
  font-size: 0.88889rem; }

.show {
  display: block; }

.ra {
  height: mfe-px2rem(160);
  line-height: 3.7037rem;
  margin: 0 0.74074rem; }

.ras {
  height: 3.7037rem;
  line-height: 3.7037rem;
  background-color: #fff; 
  border-bottom: 1px solid #dddede;
  margin: 0 0.74074rem;
}
.pd {
  padding-left: mfe-px2rem(95);
}
.pds {
  padding-left: mfe-px2rem(48);
}
.ycode {
  text-align: center;
  margin:mfe-px2rem(30) mfe-px2rem(230) mfe-px2rem(50) mfe-px2rem(230);
}
a.share {
  display: block;
  width: mfe-px2rem(263);
  height: mfe-px2rem(90);
  background-color: #cccccc;
  color: #fff;
  line-height: mfe-px2rem(90);
  border-radius: 0.12346rem;
  font-size: mfe-px2rem(38);
}
.login-form .line {
  position: relative;
  background-color: #fff; }

.uc-username-icon {
  float: left;
  font-size: 1.18519rem;
  overflow: hidden; }

.input {
  width: 14.81481rem;
  height: 3.7037rem;
  line-height: 3.7037rem;
  border: none;
  padding-left: 0.81481rem;
  font-size: 1.18519rem; }

.inputs {
  width: mfe-px2rem(305);
  height: mfe-px2rem(90);
  line-height: mfe-px2rem(90);
  border: none;
  font-size: mfe-px2rem(38);
  text-align: center;
  border-radius: 0.12346rem;
  margin-right: mfe-px2rem(30);
}
.lines {
  padding-top: 1.23457rem; }

.uc-password-icon {
  float: left;
  font-size: 1.18519rem;
  padding-left: 1.92593rem;
  overflow: hidden; }

.line-btn {
  margin: 0 0.74074rem; }

.btn {
  width: 100%;
  color: #fff;
  font-size: 1.18519rem;
  cursor: pointer;
  border-radius: 0.12346rem;
  background: #ff9600;
  height: 2.76543rem;
  line-height: 2.76543rem;
  letter-spacing: mfe-px2rem(3); }

.line-tab {
  margin: mfe-px2rem(30) 0.74074rem; }

a.m-tab:hover {
  color: #ff9600; }

.forget a {
  color: #999999; }

.onekey-login {
  margin: mfe-px2rem(70) 0.74074rem mfe-px2rem(60) 0.74074rem; }

.onekey-login h4 {
  height: 0.8642rem;
  text-align: center;
  border-bottom: 1px solid #dddede; }

.onekey-login span {
  font-size: 1.18519rem;
  padding: 0 0.49383rem; }

.onekey-login-list {
  text-align: center;
  padding-bottom: mfe-px2rem(100);
}

// .onekey-login-list a {
//   margin: 0 2.46914rem; }
.fb {
  background: url(/statics/v4/tw_acg/wap/images/fb_03.png) no-repeat;
  width: 5.4321rem;
  height: 5.4321rem;
  background-size: 100% 100%;
  display: inline-block; }

.link {
  background: url(/statics/v4/tw_acg/wap/images/line_03.png) no-repeat;
  width: 5.4321rem;
  height: 5.4321rem;
  background-size: 100% 100%;
  display: inline-block; }

.fb p, .link p {
  margin-top: 5.77778rem;
  letter-spacing: 0.02469rem; }

/*# sourceMappingURL=login.css.map */
