@function mfe-px2rem($px) {
    @return $px/28.125 + rem;
}
html{
	width:100%;
	overflow-x: hidden;
	overflow-y: scroll;
	height: 100%;
}
body{
	height:100%;
	/* overflow-x:hidden */;
}
.wrapper{
	position: relative;
	left:0px;
	top:0px;
	width:mfe-px2rem(750);
	margin:0 auto;
	padding-bottom:mfe-px2rem(303);
	overflow: hidden;
	min-height: 100%;
	-webkit-transition:.3s all linear;
	transition:.3s all linear;
	box-sizing: border-box;
}
.header{
	width:mfe-px2rem(750);
	height:mfe-px2rem(104);
	background:#1e1e1e;
}
.header .nav{
	position: relative;
	margin:0 auto;
}
.header .nav .menu-l{
	position:absolute;
	left:mfe-px2rem(30);
	top:mfe-px2rem(37);
	width:mfe-px2rem(43);
	height:mfe-px2rem(34);
	background: url(../../img/wapv6/nav_menu.png) no-repeat;
	background-size: 100% 100%;
	
}
.header .nav .nav-back{
	position:absolute;
	left:mfe-px2rem(40);
	top:mfe-px2rem(36);
	width:mfe-px2rem(17);
	height:mfe-px2rem(30);
	background: url(../../img/wapv6/nav_back.png) no-repeat;
	background-size: 100% 100%;
}
.header .nav .menu-r{
	position:absolute;
	right:mfe-px2rem(20);
	top:mfe-px2rem(36);
	width:mfe-px2rem(39);
	height:mfe-px2rem(37);
	background: url(../../img/wapv6/nav_ser.png) no-repeat;
	background-size: auto 100%;
}
.header .nav .nav-share{
	position:absolute;
	right:mfe-px2rem(25);
	top:mfe-px2rem(20);
	width:mfe-px2rem(70);
	height:mfe-px2rem(60);
	background: url(../../img/wapv6/nav_share.png) center center no-repeat;
	background-size: 50% 50%;
}
.header .nav .nav-logo{
	width:mfe-px2rem(177);
	height:mfe-px2rem(55);
	margin:mfe-px2rem(25) auto;
}
.header .nav .nav-logo img{
	width:100%;
}
.header .search {
	position: absolute;
	right:mfe-px2rem(0);
	top:mfe-px2rem(0);
	height:mfe-px2rem(104);
	display: none;
	transition:.5s all ease;
	background:#1e1e1e;
	box-sizing: border-box;
	padding: mfe-px2rem(5) 0;
}
.header .search .ser-text{
	float:right;
	width:mfe-px2rem(550);
	height:mfe-px2rem(48);
	padding:mfe-px2rem(4);
	padding-left: mfe-px2rem(8);
	margin-top:mfe-px2rem(27);
	box-sizing:border-box;
	font-size:mfe-px2rem(22);
	text-indent:mfe-px2rem(6);
	border-radius: mfe-px2rem(8);
	-webkit-border-radius: mfe-px2rem(8);
}
.header .search .ser-sub{
	float:right;
	border:mfe-px2rem(0);
	width:mfe-px2rem(39);
	height:mfe-px2rem(37);
	margin:mfe-px2rem(32) mfe-px2rem(20) mfe-px2rem(0) mfe-px2rem(30);
	background:url(../../img/wapv6/nav_ser.png) no-repeat;
	background-size: auto 100%;
	
}
.header .search .ser-close-icon{
	position:absolute;
	right:mfe-px2rem(115);
	top:mfe-px2rem(40);
	width:mfe-px2rem(31);
	height:mfe-px2rem(30);
	background:url(../../img/wapv6/ser_close.png) no-repeat;
	background-size:100% 100%;
	display:none;
}
.footer{
	position:absolute;
	left:0px;
	bottom:0px;
	width:mfe-px2rem(750);
	height:mfe-px2rem(303);
	overflow: hidden;
	box-sizing:border-box;
	background:#1e1e1e;
	margin:0 auto;
	padding:mfe-px2rem(30) mfe-px2rem(0) mfe-px2rem(25);
}
.footer .footer-nav{
	display: -webkit-box;
}
.footer .footer-nav a{
	display:block;
	-webkit-box-flex:1;
	font-size:mfe-px2rem(24);
	text-align:center;
	border-right:mfe-px2rem(1) solid #4b4b4b;
	box-sizing:border-box;
	color:#fff;
}
.footer .footer-logo{
	width:mfe-px2rem(221);
	height:mfe-px2rem(171);
	background: url(../../img/wapv6/footer_logo.png) no-repeat;
	background-size:100% 100%;
	margin:mfe-px2rem(0) auto mfe-px2rem(25);
}

.footer .beian{
	font-size:mfe-px2rem(20);
	color:#4b4b4b;
	width:mfe-px2rem(500);
	margin:0 auto;
	text-align: center;
}

.icon{
	display: inline-block;
	zoom: 1;
    vertical-align: top;
}
.money-icon{
	width:mfe-px2rem(20);
	height:mfe-px2rem(20);
	margin-right:mfe-px2rem(10);
	background: url(../../img/wapv6/money_icon.png) no-repeat;
	background-size:100% 100%;
}
.home-icon{
	width:mfe-px2rem(39);
	height:mfe-px2rem(39);
	background: url(../../img/wapv6/home_icon.png) no-repeat;
	background-size:100% 100%;
}
.read-icon{
	width:mfe-px2rem(35);
	height:mfe-px2rem(33);
	background: url(../../img/wapv6/read_icon.png) no-repeat;
	background-size:100% 100%;
}
.video-icon{
	width:mfe-px2rem(35);
	height:mfe-px2rem(26);
	background: url(../../img/wapv6/video_icon.png) no-repeat;
	background-size:100% 100%;
}
.special-icon{
	width:mfe-px2rem(32);
	height:mfe-px2rem(32);
	background: url(../../img/wapv6/special_icon.png) no-repeat;
	background-size:100% 100%;
}
.industry_icon{
	width:mfe-px2rem(35);
	height:mfe-px2rem(38);
	background: url(../../img/wapv6/industry_icon.png) no-repeat;
	background-size:100% 100%;
}
.bbs-icon{
	width:mfe-px2rem(33);
	height:mfe-px2rem(32);
	background: url(../../img/wapv6/bbs_icon.png) no-repeat;
	background-size:100% 100%;
}
.game-icon{
	width:mfe-px2rem(34);
	height:mfe-px2rem(28);
	background: url(../../img/wapv6/game_icon.png) no-repeat;
	background-size:100% 100%;
}
.vlibrary-icon{
	width:mfe-px2rem(35);
	height:mfe-px2rem(35);
	background: url(../../img/wapv6/vlibrary_icon.png) no-repeat;
	background-size:100% 100%;
}
.app-icon{
	width:mfe-px2rem(23);
	height:mfe-px2rem(34);
	background: url(../../img/wapv6/app_icon.png) no-repeat;
	background-size:100% 100%;
}
.hot-icon{
	width:mfe-px2rem(44);
	height:mfe-px2rem(20);
	margin-top:mfe-px2rem(-5);
	margin-left:mfe-px2rem(8);
	background: url(../../img/wapv6/hot_icon.png) no-repeat;
	background-size:100% 100%;
}
.left-menu{
	overflow-y: auto;
	position:fixed;
	left:mfe-px2rem(-550);
	top:mfe-px2rem(0);
	z-index:1000;
	width:mfe-px2rem(550);
	height: 100%;
	box-sizing:border-box;
	background:url(../../img/wapv6/nav_bg.png) no-repeat center top;
	background-size:100% 100%;
	-webkit-transition:.3s all linear;
	transition:.3s all linear;
	padding-top: 10%;
	padding-left: 6%;
	
}
.left-menu-inner{
	overflow: hidden;
	padding:mfe-px2rem(30) mfe-px2rem(32) mfe-px2rem(0);
	min-height:mfe-px2rem(1200);
	min-height:100%;
	box-sizing:border-box;
	-webkit-box-sizing: border-box;
}
.left-menu dl{
	text-align: center;
	margin-bottom:mfe-px2rem(48);
}
.left-menu dl dt img{
	width:mfe-px2rem(106);
	height:mfe-px2rem(108);
	border-radius: 50%;
}
.left-menu dl dt,.left-menu dl dd{
	margin-bottom:mfe-px2rem(18);
}
.left-menu dl dd{
	font-size:mfe-px2rem(28);
	color:#ffc900;
}
.left-menu dl dd a{
	color:#fff;
}
.left-menu dl dd.money{
	display: none;
	font-size:mfe-px2rem(22);
}
.left-menu dl dd a.login-out{
	color:#666;
	margin-left:mfe-px2rem(20);
}
.left-menu .left-menu-list li{
	margin-bottom:mfe-px2rem(55);
	font-size:mfe-px2rem(32);
 }
 .left-menu .left-menu-list li a{
	display: block;
	color: #fff;
	width: 100%;
 }
 .left-menu .left-menu-list li a span{
	 display: inline-block;
	 width:mfe-px2rem(40);
	 text-align:center;
	 margin-right:mfe-px2rem(40);
 }


/* 分享 */
.share-bg{
	position: fixed;
	z-index:9999;
	left: mfe-px2rem(0);
	top: mfe-px2rem(0);
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.6;
	z-index: 9998;
	filter: alpha(opacity=60);
	display: none;
}
.share-weixin-pop{
	position:fixed;
	left: 50%;
	top: 50%;
	margin-left: mfe-px2rem(-150);
	margin-top: mfe-px2rem(-150);
	z-index:10000;
	width: mfe-px2rem(300);
	height: mfe-px2rem(300); 
	background: #fff;
	display: none;
}

.share-weixin-pop img{
	width:100%;
	box-shadow:0px 1px 10px #fff;
}
.share-weixin-pop .pop-msg{
	display: block;
	width: mfe-px2rem(300);
	height: mfe-px2rem(300); 
}
.share-menu{
	position:fixed;
	right: 0;
	bottom:0;
	margin-left: mfe-px2rem(-221);
	margin-top: mfe-px2rem(-60);
	z-index:10000;
	width: 100%;
	height: mfe-px2rem(406); 
	background: #fff;
	display: none;
	box-shadow:0px 1px 20px #fff;
}
.share-list{
	display: -webkit-box;
	box-sizing: border-box;
}
/*share */
.animation{
  animation:myfirst 0.3s;
  -moz-animation:myfirst 0.3s; /* Firefox */
  -webkit-animation:myfirst 0.3s; /* Safari and Chrome */
  -o-animation:myfirst 0.3s; /* Opera */
}
@keyframes myfirst
{
from {bottom:mfe-px2rem(-290);}
to {bottom:mfe-px2rem(0);}
}

@-moz-keyframes myfirst /* Firefox */
{
from {bottom:mfe-px2rem(-290);}
to {bottom:mfe-px2rem(0);}
}

@-webkit-keyframes myfirst /* Safari and Chrome */
{
from {bottom:mfe-px2rem(-290);}
to {bottom:mfe-px2rem(0);}
}

@-o-keyframes myfirst /* Opera */
{
from {bottom:mfe-px2rem(-290);}
to {bottom:mfe-px2rem(0);}
}
/* .pop-play-close{
	position: absolute;
	right:mfe-px2rem(-20);
	top:mfe-px2rem(-20);
	border-radius: 50%;
	width:mfe-px2rem(32);
	height:mfe-px2rem(32);
	padding:mfe-px2rem(4);
	background:#fff url(../../img/wapv6/pop_close.png);
	background-size:100% 100%;
} */

.cancel-btn{
	width:90%;
	height:mfe-px2rem(90);
	margin:0 auto;
	border-radius: mfe-px2rem(60);
	line-height:mfe-px2rem(90);
	text-align:center;
	color:#787878;
	background:#ebebeb;
	margin-top:mfe-px2rem(50);
	font-size:mfe-px2rem(26)
}

.share-menu p:not(.pop-play-close){
	-webkit-box-flex: 1;
	display:block;
	box-sizing: border-box;
	margin-top:mfe-px2rem(60);
	text-align:center;
}
.share-menu p em{
	display:block;
	margin-top:mfe-px2rem(27);
	font-size:mfe-px2rem(28);
	color:#333333;
}
.share-menu a{
	display:inline-block;
	width:mfe-px2rem(110);
	height:mfe-px2rem(110);
}
.share-menu a.weibo-share{
	background:url(../../img/wapv6/wb_share.png) center no-repeat;
	background-size:contain;
}

.share-menu a.weixin-share{
	background:url(../../img/wapv6/weichat_share.png) center no-repeat;
	background-size:contain;
}

.share-menu a.zone-share{
	left: mfe-px2rem(40); 
	background:url(../../img/wapv6/qq_share.png) center no-repeat;
	background-size:contain;
}

.share-menu a.baidu-share{
	background:url(../../img/wapv6/bd_share.png) center no-repeat;
	background-size:contain;
}


.circle-scroe {
	width: 40px;
	height: 40px;
	position: relative;;
	border-radius: 50%;
	background: #ff7800;
	overflow: hidden;
}
.circle-scroe-left, .circle-scroe-right {
	width:40px; 
	height:40px;
	position: absolute;
	top: 0;
	left: 0;
}
.scroe-left-left, .scroe-left-right {
	width:40px; 
	height:40px;
	background:#e7e7e7;
	border-radius: 50%;
	position: absolute;
	top: 0;
	left: 0;
}
.circle-scroe-right, .scroe-left-right {
	clip:rect(0,auto,auto,20px);
}
.circle-scroe-left, .scroe-left-left {
	clip:rect(0,20px,auto,0);
}
.circle-scroe-mask {
	width: 34px;
	height: 34px;
	border-radius: 50%;
	left: 3px;
	top: 3px;
	background: #FFF;
	position: absolute;
	text-align: center;
	line-height: 34px;
	font-size: 14px;
	font-weight: bold;
	color: #ff7800;
}
@media (min-device-width : 330px){
	.circle-scroe {
		width: 50px;
		height: 50px;
	}
	.circle-scroe-left, .circle-scroe-right {
		width:50px; 
		height:50px;
	}
	.scroe-left-left, .scroe-left-right {
		width:50px; 
		height:50px;
	}
	.circle-scroe-right, .scroe-left-right {
		clip:rect(0,auto,auto,25px);
	}
	.circle-scroe-left, .scroe-left-left {
		clip:rect(0,25px,auto,0);
	}
	.circle-scroe-mask {
		width: 42px;
		height: 42px;
		left: 4px;
		top: 4px;
		line-height: 42px;
		font-size: 16px;
	}
}
/*move to top*/
.fixed-move{
  position: fixed;
  right: mfe-px2rem(20);
  bottom: mfe-px2rem(100);
  width: mfe-px2rem(115);
  height: mfe-px2rem(120);
  z-index: 10000;
}
.fixed-move span{
  display: block;
  display: none;
  width: mfe-px2rem(114);
  height: mfe-px2rem(114);
  margin-bottom: mfe-px2rem(6);
}
.fixed-move span img{
  width: 100%;
  height:100%;
}





