*{
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: "微软雅黑";

}


.footer{
	width: 100%;
	height: 210px;
	background: #434343;
	color:#838383;
}

.foot_top{
	width: 1000px;
	height: 130px;
	border-bottom: 1px solid #636363;
	margin: 0 auto;
	padding-top: 10px;
}

.foot_top ul{
	margin-top: 25px;
	margin-bottom: 10px;
}

.foot_top li a{
	display: block;
	float: left;
	padding:0 10px;
	height: 26px;	
	line-height: 26px;
	color: #838383;
	text-align: center;
}

.foot_bott{
	text-align: center;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	margin-top: 20px;
	letter-spacing: .2px;
}


