.footer {
  height: 4.81481rem;
  background: #6dc7f4;
  margin-top: 2.07407rem; }

.footer h2 {
  text-align: center;
  font-size: 0.88889rem;
  color: #fff;
  padding-top: 1.28395rem;
  line-height: 1.20988rem; }

.footer p {
  text-align: center;
  font-size: 0.88889rem;
  color: #fff; }
