/* 注册登录 */
.loginbar { height:25px; color:#b7b7b7; text-align:right;}

.loginbar li { width:57px; height:36px; float:right; line-height:36px; background:url(../../images/iphone/bor.jpg) no-repeat right; text-align:center;}
/*
#login {margin-right:15px;}
#logout {margin-left:15px;}
#reg {margin-left:15px;}
#login , #logout , #reg{color:#b5b5b5;}*/

.register_box { border: 1px solid #ddd; width: 878px; margin: 20px auto; background: #fff; padding: 15px 50px; }

.loginbar .infobox { width:500px; padding:0 10px 30px 10px;}

.register_tab1 { border-bottom:1px #dddddd solid; font-size:18px; }

.register_tab1 ul { height: 32px; }

.register_tab1 li { height: 32px; display: block; float: left; width: 120px; margin-right: 40px; text-align: center; cursor:pointer;}

.register_tab1 li.current { border-bottom:3px #ffa837 solid; color:#585858;}

.register_cont1 { width:418px; padding-top:10px; position:relative; top:0; left:0;}

.register_cont1 .item { height: 48px; color:#8e8e8e; font-size: 16px; line-height: 48px; display:block; text-align:right;}

.register_cont1 .item input.textInput { height: 30px; color: #292929; font-size: 16px; text-indent: 6px; width: 330px; border: 1px solid #999; float:right; margin-top:9px; display:inline; text-align:left; margin-left:10px; display:inline;}

.register_cont1 .item_text { height:48px; font-size: 12px; line-height: 24px; display:block; padding-left:86px; }

.prompt_cont { width:418px; padding-top:10px; position:relative; top:0; left:0;}

.prompt { width:332px; height:32px; line-height:32px; text-align:center; color:#a56f4f; background:url(../../images/iphone/prompt.jpg) no-repeat; display:none; float:right;}

.prompt p { line-height:32px; text-align:center; color:#a56f4f;}

.prompt_close { width:30px; height:30px; float:right; display:block; cursor:pointer;}

.dl_btn { margin-top:15px;float:right;}

.Login_btn { width:330px; height:40px; background:url(../../images/iphone/btn_reg.jpg) no-repeat; border:0 none; display:block;}

.Login_btn span { text-align:center; line-height:40px; color:#fff; display:block; font-size:16px; letter-spacing:2px;}
