.hw-carouse-header{
	line-height: 36px;
	/*height: 36px;*/
	color:#525252;
	font-size: 16px;
	/*border-bottom: 1px solid #EFEFEF;*/
}
.hw-header-list {
	font-size: 0;
	padding-left: 10px;
}
.hw-header-list a{
	margin-right:30px;
	color:#525252;
	font-size: 16px;
	font-weight: bold;
}
.hw-header-list a.curr:hover{
	color:#fff;
}
.hw-header-list a.curr{
	margin-right:30px;
	background:#FF0000;
	line-height:36px;
	height:36px;
	display:none;
	padding:0 5px;
	color:#fff;
	font-size: 16px;
	font-weight: bold;
}
.hw-header-list a:hover{
	color: #f3981e;
}
.carouse-more{
	color:#7a7b7b;
	font-size: 12px;
}
.carouse-con-left{
	width:652px;
	height:367px;
	overflow: hidden;
	position: relative;
}
.carouse-li{
	width:652px;
	height:367px;
}
.carouse-li a {
	position: relative;
	width:652px;
	height:367px;
	display: block;
}
.carouse-li a img{
	width:652px;
	height:367px;
	display: block;
}
.carouse-li a p{
    font-size:18px;
    color:#fff;
    font-weight:bold;
    height:50px;
    line-height:50px;
    padding:0 10px;
    width:632px;
    overflow:hidden;
    position:absolute;
    left:0;
    bottom:0;
    background: -moz-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.95) 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(0,0,0,0)),color-stop(100%,rgba(0,0,0,.95)));
    background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.95) 100%);
    background: -o-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.95) 100%);
    background: -ms-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.95) 100%);
    background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.95) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6000000', GradientType=0);
}
.pic-detail-wrap{
	padding: 38px 11px 0;
	width: 160px;
	height:329px;
	position: absolute;
	right:0;
	top:0;
	background: #000\9;
	_background: #000;
	background: rgba(0,0,0,.6);
	color: #FFF;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha"(Opacity=70);
	filter: alpha(opacity=70);
	filter: alpha(opacity=70);
}
.carouse-li a:hover h4{
	color: #f3981e;
}
.car-con-rig-li a:hover p{
	color:#f3981e;
}
.pic-detail p{
	line-height: 22px;
	overflow: hidden;
	text-indent: 2em;
	max-height: 154px;
	height: 154px;
}
.pic-author{
	margin-bottom: 6px;
	display: block;
}
.pic-author em{
	font-style: normal;
	color: #f3981e;
}
.pic-detail h4{
	margin-bottom: 6px;
	font-size: 14px;
	color:#fff;
}
.car-con-rig-li a{
	position: relative;
	width:318px;
    display:block;
	height: 179px;
}
.car-con-rig-li img{
	display: block;
	width:318px;
	height: 179px;
}
.car-con-rig-li{
	margin-bottom: 9px;
}
.car-con-rig-li p{
	width:308px;
	padding:0 5px;
	max-height: 40px;
	line-height: 40px;
	overflow: hidden;
	color:#fff;
	font-size: 14px;
	position: absolute;
	left:0;
	bottom: 0;
	_background: #000;
	background: rgba(0,0,0,.6);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha"(Opacity=70);
	filter: alpha(opacity=70);
	filter: alpha(opacity=70);
}
/**/
.bx-default-pager{
	position: absolute;
	display: block;
	width:110px;
	right:0;
	margin-right: -10px;
	bottom: 15px;
	z-index: 100;
}
.bx-default-pager .bx-pager-item{
	display: inline-block;
	_display:inline;
	height: 10px;
	border-radius: 10px;
	background: #696D70;
	color:#fff;
	text-align: center;
	line-height: 10px;
	overflow: hidden;
	margin-right:12px;
}
.bx-default-pager .bx-pager-item a{
	background: #696D70;
	display: block;
	width:10px;
	height:10px;
	color: #fff;
	text-indent: -99999px;
}
.bx-default-pager .bx-pager-item a.active{
	background: #F3981E;
    width:20px;
}
.pic-detail-li p{
	text-indent: 2em;
}
