.dialog{
	max-width: 400px;
	padding:20px;
	border-radius: 20px;
	background-color: #fff;
	font-family: "微软雅黑";
}
.dialog-ok{
	width:auto;
	max-width: 400px;
	min-width: 50px;
	color: #77d35b;
	line-height: 40px;
	padding-left:50px;
	font-size: 20px;
	background: url(../img/icon/dialog_ok.png) left center no-repeat #fff;
}
.dialog-fail{
	color: #ec4747;
	line-height: 40px;
	padding-left:50px;
	font-size: 20px;
	background: url(../img/icon/dialog_fail.png) left center no-repeat #fff;
}