.hot-author-li{
	width:188px;
	margin: 0 5px 15px;
}
.hot-author-con{
	margin:0 -5px;
}
.hot-author-li img{
	width:186px;
	height: 104px;
	border: 1px solid  #D2D2D2;
	margin-bottom: 5px;
	display: block;
}
.hot-author-li .author-wd{
	font-size: 16px;
	font-weight: bold;
	color:#333;
	margin-bottom: 3px;
	display: block;
	line-height: 24px;
	height: 48px;
	overflow: hidden;
}
.hot-author-li .author-wd:hover{
	color: #f3981e;
	cursor: hand;
	cursor: pointer;
}
.hot-author-wrap .hot-news-author{
	color:#999;
	display: block;
	margin-bottom: 1px;
}
.hot-author-wrap .hot-news-author em{
	font-style: normal;
	color: #d23927;
}
.hot-author-intro {
	color:#999;
	font-size: 14px;
	display: block;
	line-height: 22px;
	height: 66px;
	overflow: hidden;
}
.hot-news-li p span.hot-new-intro{
	color:#333;
}